<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<h2>
			  <%= @blog_post.title %>
			</h2>

			<p>
				<em>by</em> <strong><%= @blog_post.user.username %></strong>
			</p>
			<p>
			  <em>posted at</em> <%= @blog_post.created_at.strftime("%I:%M%p on %m/%d/%Y") %>
			</p>

			<p>
			  <%= @blog_post.blog_entry.html_safe %>
			</p>

			<% if current_user.id == @blog_post.user_id %>
				<%= link_to 'Edit Post', edit_blog_post_path(@blog_post) %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<h2>Leave a Comment</h2>
			<%= render 'comments/form' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<% @blog_post.comments.each_with_index do |comment, index| %>
				<p><strong><%= comment.user.username %></strong> <em>said:</em></p>
				<p><%= comment.comment_entry.html_safe %></p>
				<p>( <em>posted at</em> <%= comment.created_at.strftime("%I:%M%p on %m/%d/%Y") %> )</p>
				<% if index < @blog_post.comments.length %>
					<hr />
				<% end %>
			<% end%>
		</div>
	</div>
</div>




